# Variables de entorno para la configuración de la aplicación
MONGOURI_ATLAS = tu cadena de conexión a MongoDB Atlas aquí
PORT = tu puerto aquí

# secret key para JWT
JWT_SECRET = tu_clave_secreta_aquí
